include helpers/TabSwitcher

mixin userViewsMixin(userType, userSelected)
    .tab-switcher
        +tabbedFrame(['View ' + userType, 'Edit ' + userType ], ['View' + userType + 'Page', userType + "EditorPage"])
        if userSelected !== undefined
            .view.active(id='View' + userType + 'Page')
                h1 View User
                h2 First Name
                h3 #{userSelected.firstname}
                h2 Last Name
                h3 #{userSelected.lastname}
                h2 User Name
                h3 #{userSelected.username}
                h2 Role
                h3 #{userSelected.role}
                h2 Enabled
                h3 #{userSelected.enabled}
            .view(id=userType + "EditorPage")
                h1 Edit User
                h2 First Name
                input(type='text' id='edit' + userType +'FirstName' value=userSelected.firstname)
                h2 Last Name
                input(type='text' id='edit' + userType + 'LastName' value=userSelected.lastname)
                h2 User Name
                input(type='text' id='edit'+ userType + 'UserName' value=userSelected.userName)
                h2 Role
                input(type='text' id='edit'+ userType +'Role' value=userSelected.role)
                h2 Enabled
                h3(value=userSelected.enabled)
                button(onclick="") Save
        else
            p Please Select {userType}
