include GenericDashboard
include TabSwitcher

#AdminView(hidden='')
    +GenericDashboard()
        +LeftPane()
            +tabbedFrame(['Courses', 'Teachers', 'Students'])
            .tab-switcher
                .view.active(id=Courses)
                    ul(id=globalCourseList)
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
                        li Empty
        +MainPane()
            +tabbedFrame([])
            .tab-switcher
                .view.active(id=CourseEditor)
                    h1 Course Editor
                    h2(id=courseName) Course Name
                    h3 Teacher
                    p(id=teacherName) Teacher Name
                    button(id=teacherNameEdit) Edit
                    h3 Students
                    ul(id=adminCourseStudentList)
                        li Empty
                    button(id=studentsEdit) Edit
