mixin number_node(value)
    div(id=`number${value}`,
        class='node numbers number',
        draggable='true',
        ondragstart='pickUpNode(event)',
        number=value
    )
        if value >= 0
            h3 #{value}
        else
            input(type='number' onchange='numberListener(this)' value=0)

mixin unary_node(group, name)
    div(id=`${name}`,
        class=`node ${group} ${name}`,
        draggable='true',
        ondragstart='pickUpNode(event)'
    )
        p
        #addRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')

mixin binary_node(group, name)
    div(id=`${name}`,
        class=`node ${group} ${name}`,
        draggable='true',
        ondragstart='pickUpNode(event)'
    )
        #addLeft.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
        p
        #addRight.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
        if block
            block

mixin mixed_fraction_node()
    div(id='mixed',
        class='node fraction mixed',
        draggable='true',
        ondragstart='pickUpNode(event)'
    )
        #addFirst.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
        #addSecond.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
        p
        #addThird.node-container(ondrop='dropNode(event)', ondragover='allowDroppingNode(event)')
